.MediaView {
   .YTView {    
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
        iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
        }
    }
    .videoView{
    max-width: 100%;
    max-height: 100%;
            video {
        max-width: 100%;
        max-height: 100%;
        }
    }
    .HTMLView {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    }
    .audioView{
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    }
    .imageView {
        img {
        max-width: 100%;
        max-height: 100%;
        }

    }
}